.game-board, .categories, .questions {
  border: 5px solid black;
  padding: 20px;
  background-color: #060DE3;
  color: #DFC653;
}

.categories, .questions {
  width: 20%;
  text-align: center;
}

.categories {
  color: #DFE1F5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
